<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cikarastudio.cikarapijatpenjas">

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_massage_siliwangi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_massage_siliwangi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.VideoActivity"
            android:parentActivityName=".activity.MassageManipulationActivity" />
        <activity
            android:name=".activity.TutorialActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.AnatomyActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MassagePreparationActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MassageBenefitActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MassageSportActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MassageManipulationActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme2"></activity>
    </application>

</manifest>